on: [push, pull_request]
name: Build for macOS
jobs:
  test:
    strategy:
      matrix:
        go-version: ["1.x"]
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: go build -o smimesign -ldflags "-X main.versionString=0.0.1" . && tar czf smimesign-0.0.1-macos.tgz smimesign && go test -v ./...
